$font-family: 'Montserrat', sans-serif;

$maroon: rgb(60, 21, 24);
$red: rgb(105, 20, 14);

$basketball-orange: rgb(250, 131, 32);
$orange: rgb(164, 66, 0);
$light-orange: rgb(213, 137, 54);

$hover-light-orange: rgb(233, 167, 96);
$hover-dark-orange: rgb(175, 101, 22);

$yellow: rgb(242, 243, 174);
$white: rgb(253, 255, 252);
$light-grey: rgb(157, 157, 157);