.player-photo {
  object-fit: cover;
  height: 15em;
  border: solid;
  background-color: white;
}

.all-player-tiles {
  display: flex;
  flex-direction: row;

  background-color: rgb(17 24 39);
}

.player-description-box {
  border: solid;
}

.entire-player-tile {
  animation: myAnimation 30s infinite;
  animation-timing-function: linear;
}

.all-player-tiles:hover .entire-player-tile {
  animation-play-state: paused !important;
}

@keyframes myAnimation {
  0% {
    transform: translatex(-200%);
  }

  100% {
    transform: translatex(650%);
  }
}